body { 
  background:url(https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.weather-box {
  border: 3px solid #fff;
  padding: 50px;
  border-radius: 25px;
  background-color: azure;
}
.weather-box h1, h2, h3 { font-size: 24px; padding: 10px;}
.ButtonArea { margin-top : 20px; display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap;}
.ButtonArea .btn { padding: 8px 8px; margin: 3px; width: 140px;}